
.icon-basket:before { content: '\e800'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-google:before { content: '\f1a0'; } /* '' */
.icon-user-circle-o:before { content: '\f2be'; } /* '' */
