@page
@model App.Pages.addOrEdditAddresModel
@{
    ViewData["Title"] = "Ustaw lub edytuj adres";
}
<form method="post" class="logOrRegForm">
    <h2>Adres</h2>
    <h3>Ulica i lokal</h3>
        <div class="inputUnit">
            <input type="text" id="streetInput" class="loginInput" placeholder=""/>
            <label for="streetInput" class="loginCaption">Ulica</label> <br />
        </div>

    <div class="inputUnit">
        <input type="text" id="houseNumberInput" class="loginInput" placeholder="" />
        <label for="houseNumber" class="loginCaption">Numer budynku</label> <br />
    </div>

    <div class="inputUnit">
        <input type="text" id="localNumberInput" class="loginInput" placeholder="" />
        <label for="localNumber" class="loginCaption">Numer lokalu</label> <br />
    </div>
    <h3>Miejscowosc</h3>
    <div class="inputUnit">
        <input type="text" id="townInput" class="loginInput" placeholder="" />
        <label for="townInput" class="loginCaption">Miejscowosc</label> <br />
    </div>
    <div class="inputUnit">
        <input type="text" id="postCodeInput" class="loginInput" placeholder="" />
        <label for="postCodeInput" class="loginCaption">Kod pocztowy</label> <br />
    </div>
    <input type="submit" class="loginButton" value="Zatwierdź"/>
</form>