@page
@model App.Pages.ChangePasswordModel
@{
}
<form method="post" id="loginForm" class="logOrRegForm">
    <div id="loginFormContent">
        <h2>Zmiana hasła</h2>
        <div class="inputUnit">
            <input asp-for="OldPassword" type="password" class="loginInput" placeholder="" name="OldPassword" />
            <label class="loginCaption">Stare hasło</label><br/>
            <span style="color: red">@ViewData["OldPasswordInputInfo"]</span>
        </div>
        <div class="inputUnit">
            <input asp-for="NewPassword" type="password" class="loginInput" placeholder=""/>
            <label class="loginCaption">Nowe hasło</label>
        </div>
        <div id="loginFormContent">
            <input asp-for="RepeatedNewPassword" type="password" class="loginInput" placeholder=""/>
            <label class="loginCaption">Powtórz nowe hasło</label>
        </div>
        <span style="color: red">@ViewData["NewPasswordInputInfo"]</span></br>
        <input class="loginButton" type="submit" value="Zatwierdź" />
    </div>
</form>