@page
@model App.Pages.OrdersInProgressModel
@{
}
<style>
    table {
        border: 3px solid black;
    }
</style>
<h2>Zamówienia w trakcie realizacji</h2>
@if (Model.OrdersInProgresses.Count() == 0)
{
    <span style="color: gray">Wygląda na to że nie masz żadnych zamówień w trakcie realizacji</span>
}
else
{
    <table>
        <tr>
            <th>Numer zamówienia</th>
            <th>Data złożenia zamówienia </th>
            <th>Data realizacji</th>
            <th>Pełny podgląd</th>
        </tr>
        @foreach (var order in Model.OrdersInProgresses)
        {
            <tr>
                <td>@order.Number</td>
                <td>@order.OrderDate </td>
                <td>
                    <form method="get" action="/Order">
                        <input type="hidden" value="@order.Number" name="number"/>
                        <button type="submit" class="narrowButton" />
                    </form>
                </td>
            </tr>
        }
    </table>
}