@page
@model App.Pages.OrdersModel
@{
}
<div class="logOrRegForm">
    <h2 style="text-align: center" class="mb-4">Zamówienia</h2>
    <form method="get">
        <button type="submit" class="loginButton">
            Pokaż zrealizowane zamówienia
        </button>
    </form>
    <form method="get">
        <button type="submit" class="loginButton">
            Pokaż zamówienia w trakcie realizacji
        </button>
    </form>
</div>