@page
@model App.Pages.PasswordChangedSuccessfullyModel
@{
}
<div class=" logOrRegForm">
    Hasło zostało zmienione pomyślnie
</div>
<script>
    let redircation = "@Url.Page("/UserSettingsPanel")"
    setTimeout(function () {
        window.location.href = redircation;
    }, 5000);
</script>
