@page
@model App.Pages.registerForExternalModel
@{
    ViewData["Titile"] = "Rejestracja";
}
<form method="post" class="logOrRegForm">
    <h2 style="text-align:center">Rejestracja</h2>

    <div style="display:flex">
        <div style="margin-right: 20px">
                <h3>Dane personalne</h3>
                <div class="inputUnit">
                    <input type="text" id="firstNameInput" class="loginInput" placeholder="" />
                    <label for="firstNameInput" class="loginCaption">Imię</label> <br />
                </div>
            <div class="inputUnit">
                <input type="text" id="lastNameInput" class="loginInput" placeholder="" />
                <label for="lastNameInput" class="loginCaption">Nazwisko</label> <br />
            </div>
                <div class="inputUnit">
                <input type="number" id="phoneNumberInput" class="loginInput" placeholder="" />
                <label for="phoneNumberInput" class="loginCaption">Numer telefonu</label> <br />
            </div>
        </div>
        <div>
            <h3>Ulica i lokal</h3>
            <div class="inputUnit">
                <input type="text" id="streetInput" class="loginInput" placeholder="" />
                <label for="streetInput" class="loginCaption">Ulica</label> <br />
            </div>

            <div class="inputUnit">
                <input type="text" id="houseNumberInput" class="loginInput" placeholder="" />
                <label for="houseNumber" class="loginCaption">Numer budynku</label> <br />
            </div>

            <div class="inputUnit">
                <input type="text" id="localNumberInput" class="loginInput" placeholder="" />
                <label for="localNumber" class="loginCaption">Numer lokalu</label> <br />
            </div>
            <h3>Miejscowosc</h3>
            <div class="inputUnit">
                <input type="text" id="townInput" class="loginInput" placeholder="" />
                <label for="townInput" class="loginCaption">Województwo</label> <br />
            </div>
            <div class="inputUnit">
                <input type="text" id="townInput" class="loginInput" placeholder="" />
                <label for="townInput" class="loginCaption">Miejscowosc</label> <br />
            </div>
            <div class="inputUnit">
                <input type="text" id="postCodeInput" class="loginInput" placeholder="" />
                <label for="postCodeInput" class="loginCaption">Kod pocztowy</label> <br />
            </div>
        </div>

    </div>
    <div style="text-align:center">
        <input type="submit" class="loginButton" value="Przejdź dalej" />
    </div>
</form>