@page
@model App.Pages.RegisterCompletedModel
@{
}
<div class=" logOrRegForm">
    Rejestracja przebiegła pomyślnie
</div>
<script>
    let redircation = "@Url.Page("/Index")"
    setTimeout(function () {
        window.location.href = redircation; 
    }, 5000); 
</script>