@using Domain.EntityModels.Additional.Common
@using Domain.ViewModels
@using Domain.EntityModels.Main
@model ProductHeaderVm
@{
    string editLink = "/AdminPanel/";
    switch (Model.ProductType)
    {
        case ProductType.CASE: editLink += $"AddOrEditCase?id={Model.ProductId}"; break;
        case ProductType.DESKTOP_COMPUTER: editLink += $"AddOrEditDesktopComputer?id={Model.ProductId}"; break;
        case ProductType.DISK_DRIVE: editLink += $"AddOrEditDiskDrive?id={Model.ProductId}"; break;
        case ProductType.GRAPHIC_CARD: editLink += $"AddOrEditGraphicCard?id={Model.ProductId}"; break;
        case ProductType.LAPTOP: editLink += $"AddOrEditLaptop?id={Model.ProductId}"; break;
        case ProductType.MOTHERBOARD: editLink += $"AddOrEditMotherboard?id={Model.ProductId}"; break;
        case ProductType.POWER_SUPPLY: editLink += $"AddOrEditPowerSupply?id={Model.ProductId}"; break;
        case ProductType.PROCESSOR: editLink += $"AddOrEditProcessor?id={Model.ProductId}"; break;
        case ProductType.RAM: editLink += $"AddOrEditRam?id={Model.ProductId}"; break;
        case ProductType.SMARTPHONE: editLink += $"AddOrEditSmartphone?id={Model.ProductId}"; break;
        case ProductType.TELEVISOR: editLink += $"AddOrEditTelevisor?id={Model.ProductId}"; break;

    }
}
<div class="d-flex justify-content-center align-items-center mb-5">
    <div>
        <h2 class="mb-0 mx-0 fs-1">@Model.Product</h2>
        <div>
            <span class="text-muted">Ocena:</span>
            <span style="color: darkgoldenrod">
                @if (Model.Rate >= 2)
                {
                    <i style="cursor: pointer" class="icon-star"></i>
                }
                else if (Model.Rate == 1)
                {
                    <i style="cursor: pointer" class="icon-star-half-alt"></i>
                }
                else
                {
                    <i style="cursor: pointer" class="icon-star-empty"></i>
                }
                @if (Model.Rate >= 4)
                {
                    <i style="cursor: pointer" class="icon-star"></i>
                }
                else if (Model.Rate == 3)
                {
                    <i style="cursor: pointer" class="icon-star-half-alt"></i>
                }
                else
                {
                    <i style="cursor: pointer" class="icon-star-empty"></i>
                }
                @if (Model.Rate >= 6)
                {
                    <i style="cursor: pointer" class="icon-star"></i>
                }
                else if (Model.Rate == 5)
                {
                    <i style="cursor: pointer" class="icon-star-half-alt"></i>
                }
                else
                {
                    <i style="cursor: pointer" class="icon-star-empty"></i>
                }
                @if (Model.Rate >= 8)
                {
                    <i style="cursor: pointer" class="icon-star"></i>
                }
                else if (Model.Rate == 7)
                {
                    <i style="cursor: pointer" class="icon-star-half-alt"></i>
                }
                else
                {
                    <i style="cursor: pointer" class="icon-star-empty"></i>
                }
                @if (Model.Rate == 10)
                {
                    <i style="cursor: pointer" class="icon-star"></i>
                }
                else if (Model.Rate == 9)
                {
                    <i style="cursor: pointer" class="icon-star-half-alt"></i>
                }
                else
                {
                    <i style="cursor: pointer" class="icon-star-empty"></i>
                }
            </span>

            <span class="text-muted">(@Model.ReviewsAmount)</span>
            <br/>
        </div>
        <div class="text-muted">
            Kategoria: 
            @switch (Model.ProductType)
            {
                case ProductType.CASE:
                    <span>Obudowy komputera</span>
                    break;
                case ProductType.DESKTOP_COMPUTER:
                    <span>Komputery stacjonarne</span>
                    break;
                case ProductType.DISK_DRIVE:
                    <span>Dyski</span>
                    break;
                case ProductType.GRAPHIC_CARD:
                    <span>Karty graficzne</span>
                    break;
                case ProductType.LAPTOP:
                    <span>Laptopy</span>
                    break;
                case ProductType.MOTHERBOARD:
                    <span>Płyty główne</span>
                    break;
                case ProductType.POWER_SUPPLY:
                    <span>Zasilacze</span>
                    break;
                case ProductType.PROCESSOR:
                    <span>Procesory</span>
                    break;
                case ProductType.RAM:
                    <span>Pamięci RAM</span>
                    break;
                case ProductType.SMARTPHONE:
                    <span>Smartfony</span>
                    break;
                case ProductType.TELEVISOR:
                    <span>Pamięci RAM</span>
                    break;
            }
        </div>
        <div class="text-muted">
            Producent: 
            @Model.Producer
        </div>
        <div>
            @if (Context.Session.GetInt32("isUserAdmin") == 1)
            {
                switch(Model.ProductType)
                {
                    case ProductType.CASE:
                        <form method="get" action="/AdminPanel/AddOrEditCase">
                            <input type="hidden" value="Edit" name="handler"/>
                            <input type="hidden" value="@Model.ProductId" name="id" />
                            <button type="submit" class="narrowButton">Edytuj</button>
                        </form>
                    break;
                }
            }
        </div>
    </div>

</div>