body {
    margin: 0px;
}
/*Header*/
header {
    padding-block: 12px;
    background-color: #3F526B;
    color: white;
    font-size: 20px;
}

    header h1 {
        font-size: 60px;
    }

#searchButton {
    background-color: #6480AB;
    font-weight: bold;
    color: #fff;
}
#customizeLabel {
    text-decoration: underline;
    font-weight: bold;
    cursor: pointer;
}
#basket {
    font-weight: bold;
    text-decoration: underline;

}
#login {

    font-weight: bold;
    text-decoration: underline;

}
.crudButton {
    background-color: #3F526B;
    color: white;
}
.thForCrud {
    padding: 8px;
    border: 3px solid black;
}

.trForCrud {
    border: 3px solid black;
}

.tdForCrud {
    padding: 8px;
    border: 3px solid black;
}

.tdForName {
    min-width: 300px;
}
.nav-bar {
    border: 1px solid #465C7B;
    background-color: #465C7B;
    color: white;
}

.nav-link {
    cursor: pointer;
    margin-left: 0px;
    margin-right: 25px;
    color: white;
}

.dropdown-menu {
    display: none; /* Ukrywanie menu */
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #405A7E;
    color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.dropdown-item{
    border-bottom: 1px solid Silver;
    padding: 6px;
}

dropdown-item:visited {
    color: white;
    border-bottom: 1px solid Silver;
    padding: 6px;
}

.dropdown:hover .dropdown-menu {
    display: block; /* Wyœwietlanie menu po najechaniu */
}

.dropdown:hover .nav-link {
    color: white; /* Zmiana koloru linku przy najechaniu */
}
.dropdown:hover .dropdown-item {
    color: white; /* Zmiana koloru linku przy najechaniu */
}
.dropdown:hover .dropdown-item:hover {
    color: black; /* Zmiana koloru linku przy najechaniu */
}
    .dropdown:hover .dropdown-item:active {
        background-color: white;
        color: black; /* Zmiana koloru linku przy najechaniu */
    }

.navbar-nav {
    position: relative; /* Ustawienie pozycji do menu */
}
#searchArea
{
    margin-top: 24px;
}
.proudctListElement {
    padding: 10px;
    border: 1px solid silver;
    border-radius: 20px;
}

.proudctTileElement {
    padding: 10px;
    border: 1px solid silver;
    border-radius: 20px;
    width: 300px;
}


/* Hide the spin buttons in WebKit browsers */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Hide spin buttons in Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}