@{
    if (!Context.Session.Keys.Contains("isLogged"))
    {
        Context.Session.SetInt32("isLogged", 0);
    }
    Context.Session.SetString("lastPage", Context.Request.Path);
}
<!DOCTYPE html>
<html lang="pl-Pl">
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/fonts/fontello-82b3d7a7/css/fontello.css" />
    <link rel="stylesheet" href="~/css/productView.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/App.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/loginAndRegister.css" asp-append-version="true" />

</head>
<body>
    <header class="container-fluid">
            <div class="row">
            <a style="all: unset" asp-page="/Index">
                <div class="col">
                    <h1 style="cursor: pointer">Komputerowo</h1>
                </div>
            </a>
                <div id="searchArea" class="col-4">
                <input type="text" id="searchText" name="searchText" onkeydown="enterSearching(event)">
                <button id="searchButton" onClick="search()").value">
                            Szukaj
                        </button>
                            <br>
                </div>
                <div id="login" class="col-3">

                        <i class="demo-icon icon-user-circle-o" style="font-size:30px;"></i>
                @if (Context.Session.GetInt32("isLogged") == 0)
                {
                    <a asp-page="/Login" style="all: unset">
                        <span style="cursor: pointer">Zaloguj sie</span>
                    </a>
                }
                else
                {
                    // 
                    <div id="userDropDownMenu" style="position: relative; display: inline-block;">
                        <span style="cursor: pointer">@await Component.InvokeAsync("LoggedUserEmail")</span>
                        <div id="userDropDownMenuBody" style="position: absolute; right: 0; background-color: #3F526B; ; padding: 10px; display: none;">
                            <ul style="list-style-type: none; padding: 0; margin: 0;">
                                <li style="border-bottom: 1px solid white; cursor: pointer">
                                    <a style=" all:unset" asp-page="/UserSettingsPanel">Moje konto</a>
                                 </li>
                                <li style="border-bottom: 1px solid white; cursor: pointer">
                                    <a style=" all:unset" href="#">Zamówienia</a>
                                </li>
                                <li style="border-bottom: 1px solid white; cursor: pointer">
                                    <a style=" all:unset" asp-page="/Logout">Wyloguj</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                

                }

                </div>

                <div id="basket" class="col-2">
                    <a href="/Basket" style="color: white">
                        <span>
                            <i class="demo-icon icon-basket" style="font-size:30px;"></i>
                            <span">Koszyk</span>
                        </span>
                    </a>
                </div>
            </div>
    </header>
    <nav class="navbar navbar-expand-lg nav-bar p-2">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <!-- Części komputerowe -->
                    <li class="dropdown">
                        <span class="nav-link dropdown-toggle">Części komputerowe</span>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/products/list/motherboard">Płyty główne</a></li>
                            <li><a class="dropdown-item" href="/products/list/ram">Pamięci RAM</a></li>
                            <li><a class="dropdown-item" href="/products/list/diskdrive">Dyski</a></li>
                            <li><a class="dropdown-item" href="/products/list/graphiccard">Karty graficzne</a></li>
                            <li><a class="dropdown-item" href="/products/list/processor">Procesory</a></li>
                            <li><a class="dropdown-item" href="/products/list/powersupply">Zasilacze</a></li>
                            <li><a class="dropdown-item" href="/products/list/case">Obudowy</a></li>
                        </ul>
                    </li>
                    <!-- Komputery -->
                    <li class="dropdown">
                        <span class="nav-link dropdown-toggle">Komputery</span>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/products/list/desktopcomputer">Komputery stacjonarne</a></li>
                            <li><a class="dropdown-item" href="/products/list/laptop">Laptopy</a></li>
                        </ul>
                    </li>
                    <!-- Urządzenia peryferyjne -->
                    <li class="dropdown">
                        <span class="nav-link dropdown-toggle">Urządzenia peryferyjne</span>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/products/list/mouse">Myszki</a></li>
                            <li><a class="dropdown-item" href="/products/list/keyboard">Klawiatury</a></li>
                            <li><a class="dropdown-item" href="/products/list/printer">Drukarki</a></li>
                        </ul>
                    </li>
                    <!-- Inne urządzenia -->
                    <li class="dropdown">
                        <span class="nav-link dropdown-toggle">Inne urządzenia</span>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/products/list/smartphone">Smartfony</a></li>
                            <li><a class="dropdown-item" href="/products/list/televisor">Telewizory</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <main role="main" class="pb-3" style="margin-top: 30px;">
            @RenderBody()
        </main>
    </div>



    @{
        //<script src="~/lib/jquery/dist/jquery.min.js"></script>
    }
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
        
    <script>
        document.getElementById("userDropDownMenu").addEventListener("mouseover", function () {
            document.getElementById("userDropDownMenuBody").style.display = "block";
        });

        document.getElementById("userDropDownMenu").addEventListener("mouseout", function () {
            document.getElementById("userDropDownMenuBody").style.display = "none";
        });
    </script>
                
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>