@{
    if (!Context.Session.Keys.Contains("isLogged"))
    {
        Context.Session.SetInt32("isLogged", 0);
    }
    Context.Session.SetString("lastPage", Context.Request.Path);
}
<!DOCTYPE html>
<html lang="pl-Pl">
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/fonts/fontello-9763c66f/css/fontello.css" />
    <link rel="stylesheet" href="~/css/productView.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/App.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/loginAndRegister.css" asp-append-version="true" />
</head>
<body>
    <header class="container-fluid">
            <div class="row">
            <a style="all: unset" asp-page="/Index">
                <div class="col">
                    <h1 style="cursor: pointer">Komputerowo</h1>
                </div>
            </a>
                <div id="searchArea" class="col-4">
                    
                    <input type="text" id="searchText">
                    <button id="searchButton">Szukaj</button><br>
                    <span id="customizeLabel">Dostosuj opcje wyszukiwania</span>
                </div>
                <div id="login" class="col-3">

                        <i class="demo-icon icon-user-circle-o" style="font-size:30px;"></i>
                @if (Context.Session.GetInt32("isLogged") == 0)
                {
                    <a asp-page="/Login" style="all: unset">
                        <span style="cursor: pointer">Zaloguj sie</span>
                    </a>
                }
                else
                {
                    // 
                    <div id="userDropDownMenu" style="position: relative; display: inline-block;">
                        <span style="cursor: pointer">@await Component.InvokeAsync("LoggedUserEmail")</span>
                        <div id="userDropDownMenuBody" style="position: absolute; right: 0; background-color: #3F526B; ; padding: 10px; display: none;">
                            <ul style="list-style-type: none; padding: 0; margin: 0;">
                                <li style="border-bottom: 1px solid white; cursor: pointer">
                                    <a style=" all:unset" asp-page="/UserSettingsPanel">Moje konto</a>
                                 </li>
                                <li style="border-bottom: 1px solid white; cursor: pointer">
                                    <a style=" all:unset" href="#">Zamówienia</a>
                                </li>
                                <li style="border-bottom: 1px solid white; cursor: pointer">
                                    <a style=" all:unset" asp-page="/Logout">Wyloguj</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                

                }

                </div>
                <div id="basket" class="col-2">
                    <i class="demo-icon icon-basket" style="font-size:30px;"></i>
                    <span">Koszyk</span>
                </div>
            </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3" style="margin-top: 30px;">
            @RenderBody()
        </main>
    </div>



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        document.getElementById("userDropDownMenu").addEventListener("mouseover", function () {
            document.getElementById("userDropDownMenuBody").style.display = "block";
        });

        document.getElementById("userDropDownMenu").addEventListener("mouseout", function () {
            document.getElementById("userDropDownMenuBody").style.display = "none";
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>