@page
@model App.Pages.AdminPanel.AddCaseModel
@{
}
@using Model.DataModel.Additional.ComputerParts;
<form method="post" id="loginForm" class="logOrRegForm" enctype="multipart/form-data">
    <div id="loginFormContent">
        <h2>Dodaj Obudowe</h2>
        @await Component.InvokeAsync("AddProduct")
        <div class="inputUnit">
            <input asp-for="MotherBoardFormats" type="text" class="loginInput" placeholder="" required />
            <label for="MotherBoardFormats" class="loginCaption">Formaty płyt głównych</label><br />
        </div>

        <div class="inputUnit">
            <input asp-for="PowerSupplyFormat" type="text" class="loginInput" placeholder="" required />
            <label for="PowerSupplyFormat" class="loginCaption">Formaty zasilaczy</label><br />
        </div>

        <div class="inputUnit">
            <label for="CaseType">Typ obudowy</label>
            <select asp-for="CaseType">
                <option value="@Convert.ToInt32(CaseType.MiniTower)">Mini tower</option>
                <option value="@Convert.ToInt32(CaseType.MidiTower)">Midi tower</option>
                <option value="@Convert.ToInt32(CaseType.BigTower)">Big tower</option>
                <option value="@Convert.ToInt32(CaseType.Other)">Inna</option>
            </select>
        </div>
        <input type="submit" value="zatwierdź" class="loginButton" />
        </<div>
</form>
