@page
@model App.Pages.AdminPanel.AddLaptopModel
@{
}
<form method="post" id="loginForm" class="logOrRegForm" enctype="multipart/form-data">
    <div id="loginFormContent">
        <h2>Dodaj Laptopa</h2>
        
        @await Component.InvokeAsync("AddProduct")

        <div  class="inputUnit">
            <input asp-for="Processor" type="text" class="loginInput" placeholder="" required />
            <label for="Processor" class="loginCaption">Procesor</label><br />
        </div>

        <div class="inputUnit">
            <input asp-for="RamSize" type="int" class="loginInput" placeholder="" required />
            <label for="RamSize" class="loginCaption">Rozmiar pamięci RAM (w GB)</label><br />
        </div>

        <div class="inputUnit">
            <input asp-for="RamType" type="text" class="loginInput" placeholder="" required />
            <label for="RamType" class="loginCaption">Typ pamięci RAM</label><br />
        </div>

        <div class="inputUnit">
            <input asp-for="DiskSize" type="number" class="loginInput" placeholder="" required />
            <label for="DiskSize" class="loginCaption">Rozmiar dysku (w GB)</label><br />
        </div>

        <div class="inputUnit">
            <input asp-for="DiskType" type="text" class="loginInput" placeholder="" required />
            <label for="DiskType" class="loginCaption">Typ dysku</label><br />
        </div>

        <div class="inputUnit">
            <input asp-for="Gpu" type="text" class="loginInput" placeholder="" required />
            <label for="Gpu" class="loginCaption">Karta graficzna</label><br />
        </div>

        <div class="inputUnit">
            <input asp-for="BatteryCapacity" type="text" class="loginInput" placeholder="" required />
            <label for="BatteryCapacity" class="loginCaption">Pojemnosc baterii</label><br />
        </div>

        <div class="inputUnit">
            <textarea asp-for="ExternalPorts" class="loginInput" placeholder="" style="resize: none; width: 100%; height: 100px;">
            </textarea>
            <label for="ExternalPorts" class="loginCaption">Zewnętrzne porty</label><br />
        </div>

        <div class="inputUnit">
            <input asp-for="Resolution" type="text" class="loginInput" placeholder="" required />
            <label for="Resolution" class="loginCaption">Rozdzielczość</label><br />
        </div>

        <div class="inputUnit">
            <input asp-for="ScreenDiagonal" type="number" class="loginInput" placeholder="" required />
            <label for="ScreenDiagonal" class="loginCaption">Przekątna ekranu (w calach)</label><br />
        </div>

        <div class="inputUnit">
            <input asp-for="ScreenType" type="text" class="loginInput" placeholder="" required />
            <label for="ScreenType" class="loginCaption">Typ ekranu</label><br />
        </div>

        <div class="inputUnit">
            <input asp-for="OperatingSystem" type="text" class="loginInput" placeholder="" required />
            <label for="OperatingSystem" class="loginCaption">System operacyjny</label><br />
        </div>

            <input type="submit" value="zatwierdź" class="loginButton" />
        </div>
</form>