@page
@model App.Pages.AdminPanel.AddOrEditDesktopComputerModel
@{
}
<form method="post" id="loginForm" class="logOrRegForm" enctype="multipart/form-data">
    <div id="loginFormContent">
        <h2>Dodaj obudowe</h2>
        @await Component.InvokeAsync("AddProduct")
        <div class="inputUnit">
            <input asp-for="Processor" type="text" class="loginInput" placeholder="" required />
            <label for="Processor" class="loginCaption">Procesor</label><br />
        </div>

        <div class="inputUnit">
            <input asp-for="Chipset" type="text" class="loginInput" placeholder="" required />
            <label for="Chipset" class="loginCaption">Chipset</label><br />
        </div>
        <div class="inputUnit">
            <input asp-for="Gpu" type="text" class="loginInput" placeholder="" required />
            <label for="Gpu" class="loginCaption">Karta graficzna</label><br />
        </div>
        <div class="inputUnit">
            <input asp-for="GpuMemoryType" type="text" class="loginInput" placeholder="" required />
            <label for="GpuMemoryType" class="loginCaption">Typ pamięci karty graficznej</label><br />
        </div>
        <div class="inputUnit">
            <input asp-for="GpuMemorySize" type="number" class="loginInput" placeholder="" required />
            <label for="GpuMemoryType" class="loginCaption">Rozmiar pamięci karty graficznej</label><br />
        </div>
        <div class="inputUnit">
            <input asp-for="RamType" type="text" class="loginInput" placeholder="" required />
            <label for="RamType" class="loginCaption">Typ pamięci RAM</label><br />
        </div>
        <div class="inputUnit">
            <input asp-for="RamSize" type="number" class="loginInput" placeholder="" required />
            <label for="RamSize" class="loginCaption">Rozmiar pamięci RAM</label><br />
        </div>
        <div class="inputUnit">
            <input asp-for="DiskType" type="text" class="loginInput" placeholder="" required />
            <label for="DiskType" class="loginCaption">Typ dysku</label><br />
        </div>
        <div class="inputUnit">
            <input asp-for="DiskSize" type="number" class="loginInput" placeholder="" required />
            <label for="DiskSize" class="loginCaption">Rozmiar dysku (w GB)</label><br />
        </div>
        <div class="inputUnit">
            <textarea asp-for="ExternalPorts" class="loginInput" placeholder="" style="resize: none; width: 100%; height: 100px;">
            </textarea>
            <label for="ExternalPorts" class="loginCaption">Zewnętrzne porty</label><br />
        </div>
        <div class="inputUnit">
            <textarea asp-for="InternalPorts" class="loginInput" placeholder="" style="resize: none; width: 100%; height: 100px;">
            </textarea>
            <label for="InternalPorts" class="loginCaption">Wewnętrzne porty</label><br />
        </div>
        <div class="inputUnit">
            <input asp-for="PowerSupply" type="number" class="loginInput" placeholder="" required />
            <label for="PowerSupply" class="loginCaption">Zasilacz (liczba watów)</label><br />
        </div>
        <div class="inputUnit">
            <input asp-for="OperatingSystem" type="text" class="loginInput" placeholder="" required />
            <label for="DiskSize" class="loginCaption">System operacyjny</label><br />
        </div>
        <input type="submit" value="zatwierdź" class="loginButton" />
    </div>
</form>
