@page
@model App.Pages.AdminPanel.AddOrEditMouseModel
@{
}
<form method="post" id="loginForm" class="logOrRegForm" enctype="multipart/form-data">
    <div id="loginFormContent">
        <h2>Dodaj myszkę</h2>

        @await Component.InvokeAsync("AddOrEditProduct", new { ProductPassData = Model.ProductPassData })

        <div class="inputUnit">
            <input asp-for="Dpi" type="number" class="loginInput" placeholder="" required />
            <label for="Dpi" class="loginCaption">Dpi</label><br />
        </div>

        <div class="inputUnit">
            <input asp-for="Profile" type="text" class="loginInput" placeholder="" required />
            <label for="Profile" class="loginCaption">Profil</label><br />
        </div>

        <div class="inputUnit">
            <input asp-for="Connectivity" type="text" class="loginInput" placeholder="" required />
            <label for="Connectivity" class="loginCaption">Łączność</label><br />
        </div>


        <div class="">
            <input asp-for="Destination" type="text" class="loginInput" placeholder="" required />
            <label for="Destination" class="loginCaption">Przeznaczenie</label><br />
        </div>
        <div class="inputUnit">
            <input asp-for="ButtonsAmount" type="number" class="loginInput" placeholder="" required />
            <label for="ButtonsAmount" class="loginCaption">Liczba przyciskow</label><br />
        </div>
    </div>
    <div class="inputUnit">
        <input asp-for="SensorType" type="text" class="loginInput" placeholder="" required />
        <label for="SensorType" class="loginCaption">Typ sensora</label><br />
    </div>
    <div class="inputUnit">
        <label for="Lighting">Podświetlenie</label><br />
        <input asp-for="Lighting" />
    </div>
    </div>
</form>