@page
@model App.Pages.AdminPanel.AddProcessorModel
@{
    ViewData["Title"] = "Dodaj procesor";
}
<form method="post" id="loginForm" class="logOrRegForm" enctype="multipart/form-data">
    <div id="loginFormContent">
        <h2>Dodaj procesor</h2>

        @await Component.InvokeAsync("AddProduct")

        <div class="inputUnit">
            <input asp-for="Cores" type="number" class="loginInput" placeholder="" required />
            <label for="Cores" class="loginCaption">Liczba rdzeni</label><br />
        </div>

        <div class="inputUnit">
            <input asp-for="Threads" type="number" class="loginInput" placeholder="" required />
            <label for="Threads" class="loginCaption">Liczba wątków</label><br />
        </div>

        <div class="inputUnit">
            <input asp-for="Frequency" type="number" class="loginInput" placeholder="" required />
            <label for="Frequency" class="loginCaption">Częstotliwość w MhZ</label><br />
        </div>

        <div class="inputUnit">
            <input asp-for="CacheSize" type="number" class="loginInput" placeholder="" required />
            <label for="CacheSize" class="loginCaption">Pamięć cache (w MB)</label><br />
        </div>

        <div class="inputUnit">
            <input asp-for="ProcessorSocket" type="text" class="loginInput" placeholder="" required />
            <label for="CacheSize" class="loginCaption">Socket</label><br />
        </div>

        <div class="inputUnit">
            <input asp-for="ProcessorSerie" type="text" class="loginInput" placeholder="" required />
            <label for="ProcessorSerie" class="loginCaption">Seria procesora</label><br />
        </div>

        <div class="inputUnit">
            <label for="IntegratedGpu">Zintegrowane GPU</label>
            <input asp-for="IntegratedGpu" />
        </div>

        <div class="inputUnit">
            <label for="hasCoolerIncluded">Dołączone chłodzenie</label>
            <input asp-for="hasCoolerIncluded" />
        </div>

        <input type="submit" value="zatwierdź" class="loginButton" />

    </div>
</form>