@page
@model App.Pages.AdminPanel.EditProducerModel
@{
}
<form method="post" id="loginForm" class="logOrRegForm">
    <div id="loginFormContent">
        <h2>Edytuj producenta</h2>
        <div class="inputUnit">
            <input type="hidden" asp-for="Id" value="@Model.Id"/>
            <input asp-for="Name" type="text" class="loginInput" placeholder="" value="@Model.Name"/>
            <label for="Name" class="loginCaption">Producent</label><br />
        </div>
        <input type="submit" value="zatwierdź" class="loginButton" />
        </<div>
</form>
